[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/sh.vim"]
	path = vim/.vim/bundle/sh.vim
	url = https://github.com/vim-scripts/sh.vim--Cla.git
[submodule "vim/.vim/bundle/terminus"]
	path = vim/.vim/bundle/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-perl"]
	path = vim/.vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/.vim/bundle/html5.vim"]
	path = vim/.vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/.vim/bundle/php.vim"]
	path = vim/.vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/.vim/bundle/vim-cpp-enhanced-hightlight"]
	path = vim/.vim/bundle/vim-cpp-enhanced-hightlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vim/.vim/bundle/vim-python-pep8-indent"]
	path = vim/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/.vim/bundle/vim-fish"]
	path = vim/.vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/acp"]
	path = vim/.vim/bundle/acp
	url = https://github.com/eikenb/acp.git
[submodule "vim/.vim/bundle/bufexplorer"]
	path = vim/.vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
